@import "bootstrap";

:root {
  overscroll-behavior: none;
  touch-action: none;
}

body,
html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success,
.btn-primary {
  .text-muted {
    color: #fff !important;
  }
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.text-muted {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  .me-1 {
    margin: 0.125rem;
  }
}

.sidebar-items {
  & > div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  & > div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

.classic {
  color: #333;
  background: hsl(204, 16%, 94%) !important;
  box-shadow: none !important;
  border: 4px solid rgb(249, 250, 251) !important;
  padding: 0.5rem !important;
  border-radius: 0px 13px 13px 0px !important;
}

.core__profile-image {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  img {
    width: 38px !important;
    height: 38px !important;
    border-radius: 6px !important;
  }
}

.tlui-help-menu {
  display: none !important;
}

.tlui-debug-panel {
  display: none !important;
}

/* ------ tldraw ----- */

.tldraw__editor {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tldrawLogo {
  position: absolute;
  z-index: 290;
  bottom: 0px;
  right: 0px;
}

.tldrawLogo__mobile {
  bottom: 60px;
}

.tlui-layout__top {
  @media (max-width: 768px) {
    overflow-x: auto;
    scrollbar-width: none;
  }
}
.tlui-layout__top::-webkit-scrollbar {
  display: none;
}

.tldraw__SharePanel {
  flex-direction: row;
  background: hsl(204, 16%, 94%);
  gap: 0.5rem;
  padding: 2px 6px;
  border-radius: 0 0 0 13px;
  border: 4px solid rgb(249, 250, 251);
  border-top: 0;
  border-right: 0;

  .btn {
    color: #2d2d2d;
    border: none !important;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    font-size: 14px;
    gap: 8px;

    border-radius: 13px !important;

    &:active {
      border-style: inset;
      background-color: #d5d5d5;
      color: #000;
    }

    &:hover {
      background-color: #e5e5e5 !important;
      color: #111 !important;
    }
  }
}

.tlui-menu {
  z-index: 500;
}

kbd {
  color: white !important;
  text-shadow: none !important;
}

.tldraw__TopPanel {
  align-items: center;
  width: 100%;

  .styled-top-bar {
    flex-direction: row;
    background: hsl(204, 16%, 94%);
    gap: 0.5rem;
    margin: 0;
    padding: 10px;
    border-radius: 0 0 13px 13px;
    border: 4px solid rgb(249, 250, 251);
    border-top: 0;
    border-right: 0;
    font-size: 14px;

    .text-muted {
      width: auto;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-shrink: 0;
      gap: 0;
    }
  }
}

/* ------ near-wallet-selector ----- */

.nws-modal-wrapper {
  z-index: 5000;
}

/* ------ auth/core ----- */

.core__auth {
  pointer-events: all;
}
