@import "bootstrap";

body {
  overflow-y: scroll;
}

body, html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &> div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

.classic {
  border: 2px outset #333;
  background-color: #f5f5f5;
  color: #333;
}

.tlui-help-menu {
	display: none !important;
}

.tlui-debug-panel {
	display: none !important;
}

/* ------ tldraw ----- */

.tldraw__editor {
	position: fixed;
	inset: 0px;
	overflow: hidden;
}

.tldrawLogo {
	position: absolute;
	z-index: 290;
	bottom: 0px;
	right: 0px;
}

.tldrawLogo__mobile {
	bottom: 60px;
}

.tldraw__shareZone {
	pointer-events: all;
}

/* ------ near-wallet-selector ----- */

.nws-modal-wrapper {
  z-index: 5000;
}